DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=rabotaem
POSTGRES_USER=rabotaem
POSTGRES_PASSWORD=rabotaem
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_OIDC_CLIENT_ID=
TELEGRAM_AUTH_ALLOWED_ORIGINS=https://app1299099924-login.tg.dev
TELEGRAM_USE_POLLING=0
CSRF_TRUSTED_ORIGINS=
SITE_BASE_URL=http://localhost:5173
WHEREFILMED_IMPORT_TOKEN=
WHEREFILMED_IMPORT_IMAGE_MAX_BYTES=15728640
CORS_ALLOWED_ORIGINS=http://localhost:5173
ALLOW_PASSWORD_REGISTRATION=1
SITE_AUTH_TOKEN_MAX_AGE_SECONDS=2592000
SITE_AUTH_COOKIE_NAME=comuna_site_token
SITE_AUTH_COOKIE_DOMAIN=
SITE_AUTH_COOKIE_SAMESITE=Lax
SITE_AUTH_COOKIE_SECURE=0
SECURE_SSL_REDIRECT=0
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=0
SECURE_HSTS_PRELOAD=0
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=0
EMAIL_USE_SSL=0
DEFAULT_FROM_EMAIL=webmaster@localhost
PUBLIC_TELEGRAM_LOGIN_BOT=
PUBLIC_TELEGRAM_OIDC_CLIENT_ID=
PUBLIC_TELEGRAM_REDIRECT_URI=
VK_APP_ID=
VK_OIDC_ISSUER=
VK_OIDC_JWKS_URL=
PUBLIC_VK_APP_ID=
PUBLIC_VK_REDIRECT_URL=
